body{
    background-color:white;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
.head{
    font-size: 20px;
    list-style: none;
    float: left ;
    margin-top: 0;
  color: red;
    height: 100px;
    display: inline-flex;
    padding : 0 10px 0 10px; 
    width: 1080px;  
    flex: right;
    padding-left:200px ;
    justify-content: space-between;
    margin-bottom: 20px;
 
    background-image: url(./images\ \(2\).jpeg);
    margin-top: 0;
    
}
.ruleshead{
    justify-content: center;
    padding-left: 220px;
    background-color:white;
    ;
    padding-top: 150px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-left: 20px;
    
}
.navbar{
    margin-top: 0px;
    padding-top: 0px;
    
}
.rulescontainer{
    
    margin-top: 30px;
    justify-content: center;
   justify-content: space-around;
    margin: 0%;
 justify-content: space-around;
 font-size: 30px;
 
}
.btn{
    background-color:rgba(255, 0, 0, 0.425);
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-left: 300px;
    width: 200px;
    font: 700;
    font-size: 30px;
    border-radius: 3rem;
}
.btn:hover{
    color: white;
}
